@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start: #fff5f5;
  --background-end: #ffe3e3;
}

body {
  background: linear-gradient(135deg, var(--background-start), var(--background-end));
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

/* 自定义选中文本的颜色 */
::selection {
  background-color: #feb2b2;
  color: #fff;
}